.categoryCard {
  height: 160px;
  position: relative;
  background-size: 100%;
  background-position: center;
  color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-lg);
  padding: var(--mantine-spacing-xl);
  overflow: hidden;
  transition: background-size 300ms ease;

  @mixin hover {
    background-size: 105%;
  }
}

.categoryLabel {
  color: var(--mantine-color-white);
  z-index: 2;
  position: relative;
}