/* Palette de couleurs */
:root {
  --color-dark: #1e2a38;
  --color-light: #f5f7fa;
  --color-white: #ffffff;
  --color-primary: #2a9d8f;
}
/* background-color: #23867b; */
/* TODO: #222831 #393E46 #948979 #DFD0B8 */
html {
  scroll-behavior: smooth;
}

/* Hero section */
.social-icons a {
  font-size: 1.5rem;
  color: var(--color-dark);
  transition: color 0.3s;
}
.social-icons a:hover,
.social-icons a:focus {
  color: var(--color-primary);
}

/* Responsive */
@media (max-width: 600px) {
  .nav-list {
    flex-direction: column;
  }
}
